* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #7B3DD8;
  --background-color: #F4F3FB;
  --secondary-color: #c49eff;
  --accent-color: rgb(95, 34, 170);
  --primary-button-color: #3D0B87;
  --secondary-button-color: #b59ed9;

  --white-color: white;
  --black-color: black
}

.header {
  background-color: var(--background-color);
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 10px;
}

.left-section {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

#side-bar-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.5s;
}

#side-bar-button svg {
  width: 30px;
  height: 30px;
  transition: all 0.5s;
}

.left-section p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color)
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.right-section ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}

.right-section ul li a {
  text-decoration: none;
  font-weight: 500;
}

.right-section button {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.right-section button svg {
  width: 30px;
  height: 30px;
  fill: var(--primary-color);
}

.user-profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 100%;
  color: var(--white-color);
  cursor: pointer;
}

.user-profile svg {
  width: 30px;
  height: 30px;
}

.body-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#side-bar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: fixed;
  height: 90%;
  width: 250px;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateX(-250px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.side-bar-top,
.side-bar-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 5px;
  width: 100%;
  margin-top: 20px;
}

.side-bar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s;
}

.side-bar-item:hover {
  background-color: var(--accent-color);
}

.side-bar-item svg {
  width: 30px;
  height: 30px;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  padding: 10px;
  margin-left: 30px;
  max-width: 2000px;
  transition: all 0.5s;
}

.form_error {
  color: #e53935;
  /* red tone for errors */
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 4px;
}

.profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
