<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='src/login.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" sizes="any" type="image/svg+xml" href="{{url_for('static', filename='Images/logo.png')}}">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="header-overlay">
      <img src="{{ url_for('static', filename='Images/draweer.png') }}" alt="Logo" class="logo">
    </div>
    <div class="text-container">

      <h1>Welcome!</h1>
      <p class="subheading"> Your One-Stop Shop for Quality Computer Accessories — Powered by OneDee™ </p>
    </div>
  </div>
  <div class="login-box">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
      {{ message }}
      <span class="close-button" onclick="this.parentElement.style.display='none';" style="cursor: pointer;">&times;</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Log in</h2>
    <form action="{{ url_for('auth.login') }}" method="POST">

      {{ form.hidden_tag() }}

      {{ form.email.label() }}
      {{ form.email(placeholder='Enter email') }}

      {{ form.password.label() }}
      {{ form.password(placeholder='Enter password') }}

      <div class="forgot">
      {{ form.submit( class_="login-box-SN button") }}

      </div>
    </form>
    <div class="divider">OR</div>
    <a href="{{ url_for('auth.sign_in') }}" class="register">Create new account</a>
    <div class="footer-links">
      <a href="#">Contact</a> •
      <a href="{{ url_for('views.tos') }}">Privacy and Policy</a> •
      <a href="{{ url_for('views.privacy') }}">Terms of Service</a>
    </div>
  </div>
  <script>
    setTimeout(function () {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function (message) {
          message.style.display = 'none';
        });
      }, 4000); // 4000ms = 4 seconds
  </script>
</body>

</html>