{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='src/base-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='src/profile-style.css') }}">
{% endblock %}

{% block body %}
<main id="main-content">
  <section class="main-top">
    <div class="main-top-left">
      <div>
        <img src="{{ image_file }}" class="profile_pic_profiles" alt="users profile  ">
      </div>
      <div class="input-container">
        <form action="" method="POST" enctype="multipart/form-data">
          {{ form_picture.hidden_tag() }}
          {{ form_picture.picture.label() }}
          {{ form_picture.picture() }}
          {% if form_picture.picture.errors %}
          {% for error in form_picture.picture.errors %}
          <div class="form_error">{{ error }}</div>
          {% endfor %}
          {% endif %}
          {{ form_picture.submit() }}
        </form>
      </div>
    </div>
    <div class="main-top-right">
      <div class="user-name-container">
        <h1 id="username-display">{{ current_user.username }}</h1>
        <p id="user-role">Admin</p>
      </div>
      <div class="user-data-container">
        <div class="user-information">
          <p class="user-data-header">User Information:</p>

          <div class="info-container">
            <p>Email:</p>
            <p>{{ current_user.email }}</p>
          </div>

          <div class="info-container">
            <p>First Name:</p>
            <p>{{ current_user.first_name }}</p>
          </div>

          <div class="info-container">
            <p>Last Name:</p>
            <p>{{ current_user.last_name }}</p>
          </div>
        </div>
        <div class="user-details">
          <p class="user-data-header">Account Details</p>
          <div class="info-container">
            <p>Username:</p>
            <p>{{ current_user.username }}</p>
          </div>
          <div class="info-container">
            <p>Password: (password of user without bcrypt)</p>
            <p>{{ current_user.display_password }}</p>
          </div>
          <div class="info-container">
            <p>Password: (password of user with bcrypt)</p>
            <p>{{ current_user.password }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-bottom">
    <div class="main-bottom-left">
      <div class="role-container">
        <div class="role-title">
          <p>Role</p>
        </div>
        <form class="role-form">
          <div class="radio-container">
            <input type="radio" name="role" value="admin">
            <p>Admin</p>
          </div>
          <div class="radio-container">
            <input type="radio" name="role" value="manager">
            <p>Manager</p>
          </div>
          <div class="radio-container">
            <input type="radio" name="role" value="stakeholder">
            <p>Stakeholder</p>
          </div>
          <div class="radio-container">
            <input type="radio" name="role" value="CEO">
            <p>CEO</p>
          </div>
        </form>
      </div>
    </div>
    <div class="main-bottom-right">
      <a href="{{ url_for('views.logout') }}">
        <button id="log-out">Log out</button>
      </a>
      <button id="edit-profile">Edit Profile</button>
    </div>
  </section>
</main>
<div id="modal-edit-container">
  <div class="modal-content">
    <section class="modal-header">
      <p>Edit Information</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </section>
    <section class="modal-input" style="padding-top: 80px;">
      <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="input-container">
          {{ form.email.label() }}
          {{ form.email(value=current_user.email ) }}
        </div>
        <div class="input-container">
          {{ form.username.label() }}
          {{ form.username(value=current_user.username ) }}
        </div>
        <div class="input-container">
          {{ form.first_name.label() }}
          {{ form.first_name(value=current_user.first_name ) }}
        </div>
        <div class="input-container">
          {{ form.last_name.label() }}
          {{ form.last_name(value=current_user.last_name ) }}
        </div>

    </section>
    <section class="modal-buttons">
      <button id="cancel-edit-button">Cancel</button>
      {{ form.submit() }}
      </form>

    </section>
  </div>
</div>
</div>
<script src="{{ url_for('static', filename='jscript/base-function.js') }}"></script>
<script src="{{ url_for('static', filename='jscript/profile-function.js') }}"></script>
{% endblock %}