{% extends 'base.html' %}

{% block head %}
<title>search</title>
{% endblock %}

{% block body %}
<main id="main-content">
    <section class="main-top">
        <div class="main-top-left">
            <p>Search for an Item</p>
        </div>
        <div class="main-top-right">
            <form action="{{ url_for('views.search') }}" method="GET">
                <div class="search-container">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                    <input id="search-input" name="search" type="text" placeholder="Search">
                </div>
            </form>
            <th>
                <button id="sort-button">
                    <a
                        href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_product', order='asc_id' if order == 'desc_id' else 'desc_id') }}">
                        Sorts by the Uniqe ID {% if order == 'desc_id' %} ▼ {% else %} ▲ {% endif %}
                    </a>
                </button>
            </th>
        </div>
    </section>
    <section class="main-bottom">
        <div class="table-container">
            <table>
                <thead>
                    <tr class="thead">
                        <th>#</th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_name' if order == 'desc_name' else 'desc_name') }}"
                                class="white-lines">
                                Name {% if order == 'desc_name' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_price' if order == 'desc_price' else 'desc_price') }}"
                                class="white-lines">
                                Price (₱) {% if order == 'desc_price' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_stock' if order == 'desc_stock' else 'desc_stock') }}"
                                class="white-lines">
                                Stock {% if order == 'desc_stock' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_manufacturer' if order == 'desc_manufacturer' else 'desc_manufacturer') }}"
                                class="white-lines">
                                Manufacturer {% if order == 'desc_manufacturer' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_category' if order == 'desc_category' else 'desc_category') }}"
                                class="white-lines">
                                Category {% if order == 'desc_category' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_created' if order == 'desc_created' else 'desc_created') }}"
                                class="white-lines">
                                Added Date {% if order == 'desc_created' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th><a href="{{ url_for('sorting_product.sorted_by_search', sort='sorted_by_the_DB_ID', order='asc_updated' if order == 'desc_updated' else 'desc_updated') }}"
                                class="white-lines">
                                Updated Date {% if order == 'desc_updated' %} ▼ {% else %} ▲ {% endif %}
                            </a>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Table body -->
                    <table>
                        {% for result in searches %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ result.product_name }}</td>
                            <td>{{ format_price(result.price) }}</td>
                            <td>{{ result.stock }}</td>
                            <td>{{ result.category }}</td>
                            <td>{{ result.manufacturer }}</td>
                            <td>{{ result.date_created.date() }}</td>
                            <td>{{ result.date_updated.date() }}</td>
                            <td>
                                <a
                                    href="{{ url_for('delete_update_product.delete_in_search', id=result.id) }}">Delete</a>
                                <br>
                                <button id="add-item" onclick="showForm('{{ result.id }}')">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>
                                    <p>Update Item/Back</p>
                                </button>
                                <div id="formContainer-{{ result.id }}" style="display: none;">
                                    <form action="{{ url_for('delete_update_product.update_in_search', id=result.id) }}"
                                        method="POST">
                                        <input type="text" name="product_name" value="{{ result.product_name }}"
                                            required>
                                        <br>
                                        <input type="number" name="price" value="{{ result.price }}" required>
                                        <br>
                                        <input type="number" name="stock" value="{{ result.stock }}" required>
                                        <br>
                                        <input type="text" name="manufacturer" value="{{ result.manufacturer }}"
                                            required>
                                        <p>Category:</p>
                                        <select name="category" required>
                                            <option value="{{ result.category.upper() }}">{{
                                                result.category.upper() }}</option>
                                            <option value="gpu">Graphics Card (GPU)</option>
                                            <option value="cpu">Processor (CPU)</option>
                                            <option value="motherboard">Motherboard</option>
                                            <option value="ram">Memory (RAM)</option>
                                            <option value="storage">Storage (SSD/HDD)</option>
                                            <option value="psu">Power Supply (PSU)</option>
                                            <option value="case">Computer Case</option>
                                            <option value="cooling">Cooling Solutions</option>
                                            <option value="peripherals">Peripherals</option>
                                            <option value="networking">Networking</option>
                                            <option value="other">Other</option>
                                        </select>
                                        <button type="submit">Update Product</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </tbody>
            </table>
        </div>
    </section>
</main>
<!--Modal section-->
</div>
<script src="{{ url_for('static', filename='jscript/base-function.js') }}"></script>
<script src="{{ url_for('static', filename='jscript/inventory-function.js') }}"></script>

<script>
    function showForm(productId) {
        const form = document.getElementById('formContainer-' + productId);
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
{% endblock %}