<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="icon" sizes="any" type="image/svg+xml" href="{{url_for('static', filename='Images/logo.svg')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='src/login.css') }}" />
</head>

<body>

  <div class="header">
    <div class="header-overlay">
      <img src="{{ url_for('static', filename='Images/draweer.png') }}" alt="Logo" class="logo">
    </div>


    <!-- SIGN IN HERE  -->

    <div class="text-container">
      <h1>Welcome!</h1>
      <p class="subheading">Your One-Stop Shop for Quality Computer Accessories — Powered by OneDee™</p>
    </div>
  </div>
  <div class="background-overlay"></div>
  <!--singup container-->
  <div class="signup-box">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
      {{ message }}
      <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Sign Up</h2>

    <form action="{{ url_for('auth.sign_in') }}" method="POST">

      {{ form.hidden_tag() }}

      {{ form.username.label }}
      {{ form.username( placeholder='Enter username' ) }}

      {{ form.email.label }}
      {{ form.email( placeholder='Enter email' ) }}

      <div class="name-fields">
        <div>
          {{ form.first_name.label }}
          {{ form.first_name( placeholder='Enter first name' ) }}
        </div>
        <div>
          {{ form.last_name.label }}
          {{ form.last_name( placeholder='Enter last name' ) }}
        </div>
      </div>

      {{ form.password1.label }}
      {{ form.password1( placeholder='Enter password' ) }}

      {{ form.password2.label }}
      {{ form.password2( placeholder='Confirm password' ) }}

      <div class="checkbox-container">
        <input type="checkbox" id="terms" required>
        <label for="terms">I agree to the <a href="{{ url_for('views.tos') }}">Terms of Service</a> and <a
            href="{{ url_for('views.privacy') }}">Privacy Policy</a>.</label>
      </div>

      {{ form.submit( class_="login-box-SN button" ) }}
      <div class="divider" style='text-align: center;'>OR</div>
      
      <div class="register-container">
        <a href="{{ url_for('auth.login') }}" class="register" >Login to new account</a>
      </div>
      

    </form>
  </div>
</body>

</html>