:root {
  --main-color: #303030;
  --second-main-color: #3E3E3E;
  --primary-color: #41aade;
  --secondary-color: #F2F6F8;
  --accent-color: #DF4444;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--secondary-color);
}

button {
  cursor: pointer;
}

aside {
  position: fixed;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  padding: 15px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 0px 15px rgba(0,0,0,0.1);
}

aside nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  row-gap: 5px;
}

aside p {
  font-weight: 700;
  color: var(--secondary-color);
}

aside nav div {
  width: 110%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  position: relative;
  column-gap: 20px;
}

aside nav button {
  padding: 15px 20px 15px 40px;
  border: none;
  width: 100%;
  text-align: start;
  border: none;
  border-radius: 3px;
  background-color: var(--second-main-color);
  color: var(--secondary-color);
  font-weight: bold;
}

aside nav svg {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 30px;
  height: 30px;
  color: white;
}

header {
  position: fixed;
  left: 230px;
  background-color: var(--primary-color);
  height: 40px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

.copyright {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 15px;
}

header p {
  color: var(--secondary-color);
  font-weight: 700;
}

main {
  overscroll-behavior: contain;
  position: relative;
  left: 230px;
  top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

#table-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 45%;
  column-gap: 10px;
}    

#table-nav div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-nav input {
  width: 200px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  padding-left: 30px;
}

#add-button {
  padding: 8px 30px;
  font-weight: 500;
  background-color: rgb(32, 194, 32);
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.search-nav svg {
  color: black;
}

.add-nav svg {
  color: white;
  stroke-width: 2px;
}



#table-nav svg {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
}

#table-content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start  ;
}

#table-content table {
  width: 75%;
  border-collapse: collapse;
}

#table-content table, th, td {
  padding: 5px;
  border: 2px solid black; /* Border for all cells */
}

#table-content input {
  width: 100px;
  background-color: transparent;
  border: none;
  outline: none;
}

#table-content td {
  text-align: center;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 3px;
}

.edit-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 15  px rgba(0,0,0,0.2);
}

.delete-button {
  background-color: rgb(241, 110, 110);
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

#modal-background {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

#modal-add-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  background-color: white;
  width: 90vh;
  height: 85vh;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 0;
}

.modal-input-container input {
  width: 100%;
  padding: 10px 3px;
  border: 1px solid black;
  border-radius: 3px;
}


.modal-input-double {
  width: 80%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

#product-price {
  margin-left: 10px;
}

.modal-button-container {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 8%;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 80%;
  column-gap: 10px;
}

#modal-cancel, #modal-add {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  transition: all 0.15s;

}

#modal-cancel {
  color: rgb(233, 21, 21);
  border: 2px solid rgb(233, 21, 21);
  background-color: white;

}

#modal-add {
  background-color: rgb(21, 187, 21);
  color: white;
}

#modal-cancel:hover, #modal-add:hover {
  transform: translateY(-2px);
}

#modal-cancel:hover {
  background-color: rgb(233, 21, 21);
  color: white;
}

#modal-cancel:active, #modal-add:active {
  transform: translateY(1px);
  opacity: 0.8;
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  color: red;
  font-size: 2rem;
}

